html {
  font-size: 16px;
  font-family: Raleway;
  color: #171717;
}

body {
  border: 1px solid #c6c6c6;
}

.page-header {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #c6c6c6; 
}

.page-product h1 {
  padding: 1rem;  
  font-size: 0.875rem;
  font-family: Lora;
}

.page-product-photo {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}

.page-product-desc {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
}

.page-product-desc-price {
  display: flex;
  padding-top: 0.75rem;
  justify-content: space-between;
  align-items: baseline;
}

h2 {
  font-weight: 200;
  font-size: 1.125rem; 
}

p {
	font-size: 0.75rem;
}

.page-product-desc-color {
  display: flex;
}

.page-product-desc-color p {
  margin: 0;
}

.page-product-desc-color-select {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-bottom: solid 1px #c6c6c6;
}

.color-button {
  margin-right: 1rem;
  width: 40px;
	height: 40px;
	border-radius: 50%;
}

.honey {
  background-color: #cfa880;
}

.black {
  background-color: #232122;
}

.button-active {
  border: solid 1px #232122;
}